.contenedor{
  display: flex;
  width: 260px;
  margin: auto;
  margin-top: 30px;
  flex-wrap: wrap;
  background: blue;
}

.fila{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1;
}

.boton{
  padding: 10px;
  font-size: 30px;
  width: 30px;
  background-color: aqua;
  margin: 6px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton:hover{
  background: lightblue;
}

.boton2{
  padding: 10px;
  font-size: 30px;
  width: 30px;
  background-color: green;
  margin: 6px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boton2:hover{
  background: lightgreen;
}

.pantalla{
  display: flex;
  width: 100px;
  height: 30px;
  font-size: 20px;
  padding: 8px;
  justify-content: end;
  background: yellow;
  margin: 8px;
  border-radius: 10px;
}

.clear{
  width: 100px;
}